* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: white;
}

#burger {
  font-size: 24px;
  color: white;
  transition-property: "transform";
  transition-duration: 1s;
  cursor: pointer;
}

.show {
  display: block;
}

.active {
  transform: rotate(90deg);
}

#dropdown-menu > li {
  font-size: 24px;
}

#hire-me {
  border-radius: 20px;
  width: 200px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
}

#japan-card {
  width: 390px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: url("../images/japan-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#form-container {
  height: 100%;
  padding-top: 50px !important;
  z-index: -2;
}

@media only screen and (min-width: 320px) {
  #first-page-right {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/Web screen.png");
    background-size: 300px;
    background-repeat: no-repeat;
    height: 230px;
    width: 300px;
    padding-top: 50px;
    padding-left: 10px;
  }
  #avatar-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .fa-brands,
  .fa-solid {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  #main-nav li {
    font-size: 24px;
  }
  section {
    height: 100vh;
    padding-top: 36px;
  }
  #avatar {
    -o-object-fit: contain;
    object-fit: contain;
  }

  #first-page {
    margin-right: auto;
    margin-left: auto;
  }
  #hire-me-two {
    margin-top: 120px;
    width: 200px;
    background-color: #343a40;
    color: white;
    letter-spacing: 2px;
  }
  #first-page-right {
    background-size: 400px;
    background-position: 0 250px;
    height: calc(100vh - 36px);
    padding-top: 170px;
    width: 400px;
  }

  #avatar-container {
    height: calc(100vh - 36px);
    padding-top: 140px !important;
  }
  #avatar-container a {
    font-size: 48px !important;
  }
}
@media only screen and (min-width: 1024px) {
  #first-page-right {
    width: 600px;
    height: calc(100vh - 36px);
    background-position: 0 160px;
    background-size: 600px;
    padding-top: 190px;
    padding-left: 30px;
  }
  #first-page-right h1 {
    font-size: 72px;
  }
  #first-page-right h3 {
    font-size: 36px;
  }
  #avatar-container {
    width: 300px;
    height: calc(100vh - 36px);
  }
  #hire-me-two {
    margin-top: 200px;
    width: 170px;
    font-size: 24px;
    color: white;
    background-color: #343a40;
    text-align: center;
  }
  #hire-me-two:hover {
    color: #343a40;
    border: solid #343a40;
    background-color: white;
  }
  #main-nav li a {
    cursor: pointer;
  }
  #main-nav li a:hover {
    text-decoration: none;
    color: #6ba2f7;
  }
  section {
    height: 100vh;
    padding-top: 36px;
  }
  .fa-solid {
    font-size: 64px;
  }
  .fa-brands {
    font-size: 64px;
  }
  h4 {
    font-size: 40px;
  }
  h5 {
    font-size: 32px;
  }
  h6 {
    font-size: 24px;
  }
}
